* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 6px;
}

h1 {
  font-size: 7em;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
}

#video-background {
  background: black;
  transform: translateX(-80vw) scale(-6);
  width: 100%;
  height: 100%;
  position: fixed;
  /* transition: all 10s; */
  filter: blur(100px) saturate(5) brightness(0.9);
}

.content {
  position: relative;
  /* z-index: 2; */
}

.content img {
  max-width: 90%;
  margin: 3em auto;
  display: block;
}

.content-page {
  padding: 3em 0;
  margin: 0 auto;
}

.content-page p {
  max-width: 1000px;
  margin: 1em auto;
  font-size: 1.3em;
  line-height: 1.3;
}

.content-page h2 {
  max-width: 1000px;
  font-size: 1.8em;
  margin: 1em auto;
}

.content-page hr {
  max-width: 1000px;
  margin: 1em auto;
  border-style: dashed;
}

.details {
  max-width: 1200px;
  font-size: 3em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
  margin: 0 auto;
  color: white;
  padding: 0 2em;
}

a {
  color: inherit;
}
a:hover {
  color: white;
  background: blue;
  /* background: black; */
}
.block-link {
  color: blue;
  background: white;
  text-shadow: none;
  /* font-family: "Roboto Mono", monospace; */
  font-size: 0.8em;
  padding: 2px 10px;
  display: inline-block;
  /* color: black; */
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

.block-link:hover {
  color: white;
  background: blue;
  /* mix-blend-mode: exclusion; */
}

.banner {
  width: 100%;
  height: 70vh;
  min-height: 350px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin: 0;
}

.banner-subheading {
  padding: 2px 10px 0;
  background-color: white;
  font-size: 1.5em;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

.home-link {
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 6px 15px;
  z-index: 10;
  color: black;
  box-shadow: none;
  font-size: 2em !important;
}

.banner img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3em;
  }
  .details {
    max-width: 1000px;
    font-size: 2em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
    margin: 0 auto;
    color: white;
  }
}
