* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 6px;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Staatliches', cursive;
  color: white;
}

h1 {
  font-size: 3em;
}

h2 {
  margin-top: 2rem;
}

#video-background {
  background: black;
  transform: scale(1.05);
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all 10s;
  filter: blur(100px) saturate(5) brightness(0.9);
}

.content {
  position: relative;
  /* z-index: 2; */
}

.content img {
  max-width: 90%;
  margin: 3em auto;
  display: block;
}

.content-page {
  /* font-family: 'Libre Baskerville', serif; */
  color: #ccc;
  padding: 3em 0;
  margin: 0 auto;
}

.content-page p {
  max-width: 1000px;
  margin: 1em auto;
  font-size: 1.3em;
  line-height: 1.3;
}

.content-page h2 {
  max-width: 1000px;
  font-size: 1.8em;
  margin: 1em auto;
}

.content-page hr {
  max-width: 1000px;
  margin: 1em auto;
  border-style: dashed;
}

.details {
  max-width: 1200px;
  font-size: 3em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
  margin: 0 auto;
  color: white;
  padding: 0 2em;
}

a {
  color: inherit;
}
a:hover {
  color: white;
  /* background: blue; */
  /* background: black; */
}
.block-link {
  color: blue;
  background: white;
  text-decoration: none;
  text-shadow: none;
  font-family: "Staatliches", sans-serif;
  font-size: 0.8em;
  padding: 2px 10px;
  display: inline-block;
  /* color: black; */
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

.block-link:hover {
  color: white;
  background: orangered;
  /* mix-blend-mode: exclusion; */
}

.banner {
  width: 100%;
  height: 70vh;
  min-height: 350px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin: 0;
}

.banner-subheading {
  padding: 2px 10px 0;
  background-color: white;
  font-size: 1.5em;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}

.home-link {
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 6px 15px;
  z-index: 10;
  color: black;
  box-shadow: none;
  font-size: 2em !important;
}

.banner img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3em;
  }
  .details {
    max-width: 1000px;
    font-size: 2em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
    margin: 0 auto;
    color: white;
  }
}

.social-links {
  text-align: center;
  position: relative;
  top: 130px;
}

.line-betwen {
  width: 15%;
  height: 3px;
  background-color: #F9B339;
  position: relative;
  left: 42.5%;
  top: 80px;
}

.social-list li{
  display: inline;
  text-align: center;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.social-list a {
  color: #fff;
}

.social-list a:hover {
  color:#F9B339;
}
.nav {
  position: relative;
  width: auto;
  display: inline-block;
  border: none;
  color: #fff;
}


.nav .main-btn-nav {
  background: transparent;
  border: none;
  /* padding: 1rem; */
  cursor: pointer;
  z-index: 99999;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.btn-nav {
  position: fixed;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 99999;
  color: #fff;
  font-size: 1rem;
  font-family: 'Courier New', monospace;
}

.btn-nav:focus {
  outline: 0;
}

.icon-bar {
  display: block;
  margin: 6px 0;
  width: 35px;
  height: 5px;
  background-color: #F9B339;
}

.btn-nav:hover .icon-bar {
  background-color: #F9B339;
}

.nav-content, .takeover-content {
  position: fixed;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.9);
  display: block;
  height: 100%;
  z-index: 9;

  color: #fff;
}

.nav-content p {
  color: #efefef;
  font-size: 1em;
}

.close-btn-nav {
  cursor: pointer;
  text-decoration: none;
}

.below-line {
  width: 15%;
  height: 3px;
  background-color: #F9B339;
  position: relative;
  left: 42.5%;
  top: 40px;
}

.nav-list {
  list-style: none;
  padding: 0;
  position: relative;
  /* top: 10%; */
}

.item-anchor:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: transparent;
 
}

.item-anchor {
  color: #fff;
  /* font-size: 30px; */
  /* text-transform: uppercase; */
  position: relative;
  text-decoration: none;
  padding-bottom: 10px;
  /* letter-spacing: 15px; */
}

.item-anchor:hover,
.item-anchor:focus {
  color: #F9B339;
 
}

.item-anchor:hover:after,
.item-anchor:focus:after{
  width: 100%;
  background: #F9B339;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-item {
  margin: 1rem 0 0 0;
  text-align: left;
}

.blurb, .about {
  margin-top: 2rem;
  color: #efefef;
}

.animated {
  display: block;
  margin: 0 auto;
}

.animated:hover .icon-bar,
.animated:focus .icon-bar{
  background-color: #FCA311;
}

.animated:focus {
  cursor: pointer;
  z-index: 9999;
}

.middle {
  margin: 0 auto;
}

.icon-bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  z-index: 999999;
}

.animated .icon-bar {
  z-index: 999999;
  background-color: #FCA311;
}

.animated .top {
  -webkit-transform: translateY(10px) rotateZ(45deg);
  -moz-transform: translateY(10px) rotateZ(45deg);
  -ms-transform: translateY(10px) rotateZ(45deg);
  -o-transform: translateY(10px) rotateZ(45deg);
  transform: translateY(10px) rotateZ(45deg);
}

.animated .bottom {
  -webkit-transform: translateY(-11px) rotateZ(-45deg);
  -moz-transform: translateY(-11px) rotateZ(-45deg);
  -ms-transform: translateY(-11px) rotateZ(-45deg);
  -o-transform: translateY(-11px) rotateZ(-45deg);
  transform: translateY(-11px) rotateZ(-45deg);
}

.animated .middle {
  width: 0;
}

@keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-moz-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-o-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.showNav {
  -webkit-animation: showNav 1s ease forwards;
  -moz-animation: showNav 1s ease forwards;
  -o-animation: showNav 1s ease forwards;
  animation: showNav 1s ease forwards;
}

@keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-webkit-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-moz-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-o-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

.hideNav {
  -webkit-animation: hideNav 1s ease forwards;
  -moz-animation: hideNav 1s ease forwards;
  -o-animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
}

.hidden {
  display: none;
}

.vec-tor-bel-sequence {
  padding-top: 2rem;;
}

.vec-tor-bel-sequence ul {
  padding-top: 2rem;
}

.video-content {
  max-width: 1000px;
  margin: 1em auto; 
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.ncp-youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}